{% extends "core/base.html" %}
{% load django_vite %}

{% block title %}File Explorer{% endblock %}

{% block content %}

  <div class="card bg-base-100 shadow">
    <div class="card-body">
      <h2 class="card-title">Files</h2>

      <div class="max-w-xs">
        <h1 class="text-2xl font-bold mb-4 text-base-content">My Files</h1>

        <ul class="menu menu-xs bg-base-200 rounded-box w-full">
          {% for root in roots %}
            {% include "core/partials/_node.html" with node=root %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>




{% endblock %}
